<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>828996352057-9u0aos8i9l1vbdkkde5vjl2i2qsm4se1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.828996352057-9u0aos8i9l1vbdkkde5vjl2i2qsm4se1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>828996352057-61e8o445rspdhslj4elv2lt17msg1rcu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDna3uUR26uluNLmaOJ27hiP1_whdutIPM</string>
	<key>GCM_SENDER_ID</key>
	<string>828996352057</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tamnstore.user</string>
	<key>PROJECT_ID</key>
	<string>tamn-customers</string>
	<key>STORAGE_BUCKET</key>
	<string>tamn-customers.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828996352057:ios:beeb02376c5b58647135e8</string>
	<key>DATABASE_URL</key>
	<string>https://tamn-customers-default-rtdb.firebaseio.com</string>
</dict>
</plist>